{% liquid
  assign num_columns = section.settings.number_of_columns
  assign background_rgb = section.settings.background_color | color_to_rgb
  assign text_rgb = section.settings.text_color | color_to_rgb
  assign border_rgb = section.settings.border_color | color_to_rgb
  assign first_col_bg_rgb = section.settings.first_column_background_color | color_to_rgb
  assign first_col_text_rgb = section.settings.first_column_text_color | color_to_rgb
%}

<style>
  [data-section-id="{{ section.id }}"] {
    {% if section.settings.margin-top %}
      --section-gap-top: {{ section.settings.margin-top }}px;
    {% endif %}
    {% if section.settings.margin-bottom %}
      --section-gap-bottom: {{ section.settings.margin-bottom }}px;
    {% endif %}
    {% if text_rgb != 'rgba(0, 0, 0, 0.0)' %}
      --color-custom-text: {{ section.settings.text_color }};
    {% endif %}
    {% if background_rgb != 'rgba(0, 0, 0, 0.0)' %}
      --color-background: {{ section.settings.background_color }};
    {% endif %}
    {% if border_rgb != 'rgba(0, 0, 0, 0.0)' %}
      --color-border: {{ section.settings.border_color }};
    {% endif %}
    {% if first_col_bg_rgb != 'rgba(0, 0, 0, 0.0)' %}
      --color-first-col-bg: {{ section.settings.first_column_background_color }};
    {% endif %}
    {% if first_col_text_rgb != 'rgba(0, 0, 0, 0.0)' %}
      --color-first-col-text: {{ section.settings.first_column_text_color }};
    {% endif %}
    --font-column-headline-scale: {{ section.settings.size_heading_mobile | divided_by: 100.0 }};
    --font-column-headline-scale-desk: {{ section.settings.size_heading | divided_by: 100.0 }};
    --font-row-name-scale: {{ section.settings.size_row_name_mobile | divided_by: 100.0 }};
    --font-row-name-scale-desk: {{ section.settings.size_row_name | divided_by: 100.0 }};
    --font-row-value-scale: {{ section.settings.size_row_value_mobile | divided_by: 100.0 }};
    --font-row-value-scale-desk: {{ section.settings.size_row_value | divided_by: 100.0 }};
    --row-icon-scale: {{ section.settings.size_row_icon_mobile | divided_by: 100.0 }};
    --row-icon-scale-desk: {{ section.settings.size_row_icon | divided_by: 100.0 }};
  }
</style>

{{ 'section-comparison-table.css' | asset_url | stylesheet_tag }}

<div
  class="{% if section.settings.full-width-enabled %}hero__wrapper--full{% else %}hero__wrapper{% endif %} {% if settings.animations and section.settings['full-width-enabled'] != true %}scroll-trigger animate--slide-in{% endif %} {% if settings.disabled_animations_on_mobile %}disabled-on-mobile{% endif %}"
  data-section-id="{{ section.id }}"
>
  {%- if section.settings.heading != blank -%}
    <div class="wt-comparison-table__heading headline headline--rich">{{ section.settings.heading }}</div>
  {%- endif -%}
  <div class="wt-comparison-table" {% if section.settings.text_style == 'heading' %}data-text-style-headline{% endif %}>
    {%- if section.blocks.size > 0 -%}
      <div class="wt-comparison-table__features">
        <table class="wt-comparison-table__table">
          <thead>
          <tr class="wt-comparison-table__row">
            <th scope="col" class="wt-comparison-table__header-label" aria-label="Feature"></th>
            {%- for i in (1..num_columns) -%}
              {%- assign heading_key = 'column_heading_' | append: i -%}
              <th scope="col" class="wt-comparison-table__column{% if i == 1 %} wt-comparison-table__column--first{% endif %}">
                <div class="wt-comparison-table__column-heading headline headline--rich">
                  {{ section.settings[heading_key] }}
                </div>
              </th>
            {%- endfor -%}
          </tr>
          </thead>
          <tbody>
          {%- for feature in section.blocks -%}
            <tr class="wt-comparison-table__row wt-comparison-table__row-border" {{ feature.shopify_attributes }}>
              <th scope="row" class="wt-comparison-table__feature-name">
                {{ feature.settings.feature_name }}
              </th>

              {%- for i in (1..num_columns) -%}
                {%- assign value_key = 'column_' | append: i | append: '_value' -%}
                {%- assign icon_key = 'column_' | append: i | append: '_icon' -%}
                {%- assign image_key = 'column_' | append: i | append: '_image' -%}
                <td class="wt-comparison-table__feature-value{% if i == 1 %} wt-comparison-table__feature-value--first{% endif %}">
                  {%- if feature.settings[image_key] != blank -%}
                    <div class="wt-comparison-table__feature-image">
                      <img
                        src="{{ feature.settings[image_key] | image_url: width: 200 }}"
                        alt="{{ feature.settings[value_key] | default: feature.settings.feature_name }}"
                        width="{{ feature.settings[image_key].width }}"
                        height="{{ feature.settings[image_key].height }}"
                        loading="lazy"
                      >
                    </div>
                  {%- elsif feature.settings[icon_key] != blank and feature.settings[icon_key] != 'none' -%}
                    <span class="wt-comparison-table__feature-icon">
                      {% render 'icon-accordion', icon: feature.settings[icon_key] %}
                    </span>
                  {%- elsif feature.settings[value_key] != blank and feature.settings[value_key] != '-' -%}
                    {{ feature.settings[value_key] }}
                  {%- endif -%}
                </td>
              {%- endfor -%}
            </tr>
          {%- endfor -%}
          </tbody>
        </table>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.comparison-table.name",
  "tag": "section",
  "class": "wt-comparison-table__section",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.settings.settings.heading.label",
      "default": "<h2>Comparison Table</h2>"
    },
    {
      "type": "checkbox",
      "id": "full-width-enabled",
      "label": "t:sections.settings.settings.section-full-width.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.settings.column_headings_header"
    },
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "heading",
          "label": "t:sections.benefits-video.settings.text_style.headline.label"
        },
        {
          "value": "body",
          "label": "t:sections.benefits-video.settings.text_style.body.label"
        }
      ],
      "default": "heading",
      "label": "t:sections.benefits-video.settings.text_style.label"
    },
    {
      "type": "range",
      "id": "number_of_columns",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.comparison-table.settings.number_of_columns"
    },
    {
      "type": "richtext",
      "id": "column_heading_1",
      "label": "t:sections.comparison-table.settings.column_heading_1",
      "default": "<p>Your Product</p>"
    },
    {
      "type": "richtext",
      "id": "column_heading_2",
      "label": "t:sections.comparison-table.settings.column_heading_2",
      "default": "<p>Product 1</p>",
      "visible_if": "{{ section.settings.number_of_columns >= 2 }}"
    },
    {
      "type": "richtext",
      "id": "column_heading_3",
      "label": "t:sections.comparison-table.settings.column_heading_3",
      "default": "<p>Product 2</p>",
      "visible_if": "{{ section.settings.number_of_columns >= 3 }}"
    },
    {
      "type": "richtext",
      "id": "column_heading_4",
      "label": "t:sections.comparison-table.settings.column_heading_4",
      "default": "<p>Product 3</p>",
      "visible_if": "{{ section.settings.number_of_columns >= 4 }}"
    },
    {
      "type": "richtext",
      "id": "column_heading_5",
      "label": "t:sections.comparison-table.settings.column_heading_5",
      "default": "<p>Product 4</p>",
      "visible_if": "{{ section.settings.number_of_columns >= 5 }}"
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.settings.mobile_version_header"
    },
    {
      "type": "range",
      "id": "size_heading_mobile",
      "min": 40,
      "max": 220,
      "step": 10,
      "default": 80,
      "label": "t:sections.comparison-table.settings.heading_scale",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "size_row_name_mobile",
      "min": 40,
      "max": 220,
      "step": 10,
      "default": 100,
      "label": "t:sections.comparison-table.settings.row_name_scale",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "size_row_value_mobile",
      "min": 40,
      "max": 220,
      "step": 10,
      "default": 100,
      "label": "t:sections.comparison-table.settings.row_text_scale",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "size_row_icon_mobile",
      "min": 40,
      "max": 220,
      "step": 10,
      "default": 100,
      "label": "t:sections.comparison-table.settings.icon_image_scale",
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.settings.large_screen_version_header"
    },
    {
      "type": "range",
      "id": "size_heading",
      "min": 40,
      "max": 220,
      "step": 10,
      "default": 80,
      "label": "t:sections.comparison-table.settings.heading_scale",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "size_row_name",
      "min": 40,
      "max": 220,
      "step": 10,
      "default": 100,
      "label": "t:sections.comparison-table.settings.row_name_scale",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "size_row_value",
      "min": 40,
      "max": 220,
      "step": 10,
      "default": 100,
      "label": "t:sections.comparison-table.settings.row_text_scale",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "size_row_icon",
      "min": 40,
      "max": 220,
      "step": 10,
      "default": 100,
      "label": "t:sections.comparison-table.settings.icon_image_scale",
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:sections.global.colors",
      "info": "t:sections.global.colors-info"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.settings.settings.text-color.label",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.settings.settings.background-color.label",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "t:sections.comparison-table.settings.border_color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.settings.first_column_colors_header"
    },
    {
      "type": "color",
      "id": "first_column_background_color",
      "label": "t:sections.settings.settings.background-color.label",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "first_column_text_color",
      "label": "t:sections.settings.settings.text-color.label",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "t:sections.global.section_spacing"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 20,
      "unit": "px",
      "label": "t:sections.settings.settings.distance-top.label"
    },
    {
      "type": "range",
      "id": "margin-bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 20,
      "unit": "px",
      "label": "t:sections.settings.settings.distance-bottom.label",
      "info": "t:sections.settings.settings.distance-bottom.info"
    }
  ],
  "blocks": [
    {
      "type": "text_row",
      "name": "t:sections.comparison-table.blocks.text_row.name",
      "settings": [
        {
          "type": "text",
          "id": "feature_name",
          "label": "t:sections.comparison-table.blocks.text_row.feature_name",
          "default": "Vitamins"
        },
        {
          "type": "header",
          "content": "t:sections.comparison-table.blocks.text_row.column_1_header"
        },
        {
          "type": "text",
          "id": "column_1_value",
          "label": "t:sections.comparison-table.blocks.text_row.column_value",
          "default": "Yes"
        },
        {
          "type": "select",
          "id": "column_1_icon",
          "options": [
            { "value": "none", "label": "None" },
            { "value": "check_mark", "label": "Check mark" },
            { "value": "cross", "label": "Cross" },
            { "value": "box", "label": "Box" },
            { "value": "chat_bubble", "label": "Chat bubble" },
            { "value": "dryer", "label": "Dryer" },
            { "value": "eye", "label": "Eye" },
            { "value": "heart", "label": "Heart" },
            { "value": "iron", "label": "Iron" },
            { "value": "leaf", "label": "Leaf" },
            { "value": "leather", "label": "Leather" },
            { "value": "lock", "label": "Lock" },
            { "value": "map_pin", "label": "Map pin" },
            { "value": "pants", "label": "Pants" },
            { "value": "plane", "label": "Plane" },
            { "value": "price_tag", "label": "Price tag" },
            { "value": "question_mark", "label": "Question mark" },
            { "value": "return", "label": "Return" },
            { "value": "ruler", "label": "Ruler" },
            { "value": "shirt", "label": "Shirt" },
            { "value": "shoe", "label": "Shoe" },
            { "value": "silhouette", "label": "Silhouette" },
            { "value": "star", "label": "Star" },
            { "value": "truck", "label": "Truck" },
            { "value": "washing", "label": "Washing" }
          ],
          "default": "none",
          "label": "t:sections.comparison-table.blocks.text_row.column_icon",
          "info": "t:sections.comparison-table.blocks.text_row.column_icon_info"
        },
        {
          "type": "image_picker",
          "id": "column_1_image",
          "label": "t:sections.comparison-table.blocks.text_row.column_image",
          "info": "t:sections.comparison-table.blocks.text_row.column_image_info"
        },
        {
          "type": "header",
          "content": "t:sections.comparison-table.blocks.text_row.column_2_header",
          "visible_if": "{{ section.settings.number_of_columns >= 2 }}"
        },
        {
          "type": "text",
          "id": "column_2_value",
          "label": "t:sections.comparison-table.blocks.text_row.column_value",
          "default": "No",
          "visible_if": "{{ section.settings.number_of_columns >= 2 }}"
        },
        {
          "type": "select",
          "id": "column_2_icon",
          "options": [
            { "value": "none", "label": "None" },
            { "value": "check_mark", "label": "Check mark" },
            { "value": "cross", "label": "Cross" },
            { "value": "box", "label": "Box" },
            { "value": "chat_bubble", "label": "Chat bubble" },
            { "value": "dryer", "label": "Dryer" },
            { "value": "eye", "label": "Eye" },
            { "value": "heart", "label": "Heart" },
            { "value": "iron", "label": "Iron" },
            { "value": "leaf", "label": "Leaf" },
            { "value": "leather", "label": "Leather" },
            { "value": "lock", "label": "Lock" },
            { "value": "map_pin", "label": "Map pin" },
            { "value": "pants", "label": "Pants" },
            { "value": "plane", "label": "Plane" },
            { "value": "price_tag", "label": "Price tag" },
            { "value": "question_mark", "label": "Question mark" },
            { "value": "return", "label": "Return" },
            { "value": "ruler", "label": "Ruler" },
            { "value": "shirt", "label": "Shirt" },
            { "value": "shoe", "label": "Shoe" },
            { "value": "silhouette", "label": "Silhouette" },
            { "value": "star", "label": "Star" },
            { "value": "truck", "label": "Truck" },
            { "value": "washing", "label": "Washing" }
          ],
          "default": "none",
          "label": "t:sections.comparison-table.blocks.text_row.column_icon",
          "info": "t:sections.comparison-table.blocks.text_row.column_icon_info",
          "visible_if": "{{ section.settings.number_of_columns >= 2 }}"
        },
        {
          "type": "image_picker",
          "id": "column_2_image",
          "label": "t:sections.comparison-table.blocks.text_row.column_image",
          "visible_if": "{{ section.settings.number_of_columns >= 2 }}",
          "info": "t:sections.comparison-table.blocks.text_row.column_image_info"
        },
        {
          "type": "header",
          "content": "t:sections.comparison-table.blocks.text_row.column_3_header",
          "visible_if": "{{ section.settings.number_of_columns >= 3 }}"
        },
        {
          "type": "text",
          "id": "column_3_value",
          "label": "t:sections.comparison-table.blocks.text_row.column_value",
          "default": "Yes",
          "visible_if": "{{ section.settings.number_of_columns >= 3 }}"
        },
        {
          "type": "select",
          "id": "column_3_icon",
          "options": [
            { "value": "none", "label": "None" },
            { "value": "check_mark", "label": "Check mark" },
            { "value": "cross", "label": "Cross" },
            { "value": "box", "label": "Box" },
            { "value": "chat_bubble", "label": "Chat bubble" },
            { "value": "dryer", "label": "Dryer" },
            { "value": "eye", "label": "Eye" },
            { "value": "heart", "label": "Heart" },
            { "value": "iron", "label": "Iron" },
            { "value": "leaf", "label": "Leaf" },
            { "value": "leather", "label": "Leather" },
            { "value": "lock", "label": "Lock" },
            { "value": "map_pin", "label": "Map pin" },
            { "value": "pants", "label": "Pants" },
            { "value": "plane", "label": "Plane" },
            { "value": "price_tag", "label": "Price tag" },
            { "value": "question_mark", "label": "Question mark" },
            { "value": "return", "label": "Return" },
            { "value": "ruler", "label": "Ruler" },
            { "value": "shirt", "label": "Shirt" },
            { "value": "shoe", "label": "Shoe" },
            { "value": "silhouette", "label": "Silhouette" },
            { "value": "star", "label": "Star" },
            { "value": "truck", "label": "Truck" },
            { "value": "washing", "label": "Washing" }
          ],
          "default": "none",
          "label": "t:sections.comparison-table.blocks.text_row.column_icon",
          "info": "t:sections.comparison-table.blocks.text_row.column_icon_info",
          "visible_if": "{{ section.settings.number_of_columns >= 3 }}"
        },
        {
          "type": "image_picker",
          "id": "column_3_image",
          "label": "t:sections.comparison-table.blocks.text_row.column_image",
          "visible_if": "{{ section.settings.number_of_columns >= 3 }}",
          "info": "t:sections.comparison-table.blocks.text_row.column_image_info"
        },
        {
          "type": "header",
          "content": "t:sections.comparison-table.blocks.text_row.column_4_header",
          "visible_if": "{{ section.settings.number_of_columns >= 4 }}"
        },
        {
          "type": "text",
          "id": "column_4_value",
          "label": "t:sections.comparison-table.blocks.text_row.column_value",
          "default": "No",
          "visible_if": "{{ section.settings.number_of_columns >= 4 }}"
        },
        {
          "type": "select",
          "id": "column_4_icon",
          "options": [
            { "value": "none", "label": "None" },
            { "value": "check_mark", "label": "Check mark" },
            { "value": "cross", "label": "Cross" },
            { "value": "box", "label": "Box" },
            { "value": "chat_bubble", "label": "Chat bubble" },
            { "value": "dryer", "label": "Dryer" },
            { "value": "eye", "label": "Eye" },
            { "value": "heart", "label": "Heart" },
            { "value": "iron", "label": "Iron" },
            { "value": "leaf", "label": "Leaf" },
            { "value": "leather", "label": "Leather" },
            { "value": "lock", "label": "Lock" },
            { "value": "map_pin", "label": "Map pin" },
            { "value": "pants", "label": "Pants" },
            { "value": "plane", "label": "Plane" },
            { "value": "price_tag", "label": "Price tag" },
            { "value": "question_mark", "label": "Question mark" },
            { "value": "return", "label": "Return" },
            { "value": "ruler", "label": "Ruler" },
            { "value": "shirt", "label": "Shirt" },
            { "value": "shoe", "label": "Shoe" },
            { "value": "silhouette", "label": "Silhouette" },
            { "value": "star", "label": "Star" },
            { "value": "truck", "label": "Truck" },
            { "value": "washing", "label": "Washing" }
          ],
          "default": "none",
          "label": "t:sections.comparison-table.blocks.text_row.column_icon",
          "info": "t:sections.comparison-table.blocks.text_row.column_icon_info",
          "visible_if": "{{ section.settings.number_of_columns >= 4 }}"
        },
        {
          "type": "image_picker",
          "id": "column_4_image",
          "label": "t:sections.comparison-table.blocks.text_row.column_image",
          "visible_if": "{{ section.settings.number_of_columns >= 4 }}",
          "info": "t:sections.comparison-table.blocks.text_row.column_image_info"
        },
        {
          "type": "header",
          "content": "t:sections.comparison-table.blocks.text_row.column_5_header",
          "visible_if": "{{ section.settings.number_of_columns >= 5 }}"
        },
        {
          "type": "text",
          "id": "column_5_value",
          "label": "t:sections.comparison-table.blocks.text_row.column_value",
          "default": "Yes",
          "visible_if": "{{ section.settings.number_of_columns >= 5 }}"
        },
        {
          "type": "select",
          "id": "column_5_icon",
          "options": [
            { "value": "none", "label": "None" },
            { "value": "check_mark", "label": "Check mark" },
            { "value": "cross", "label": "Cross" },
            { "value": "box", "label": "Box" },
            { "value": "chat_bubble", "label": "Chat bubble" },
            { "value": "dryer", "label": "Dryer" },
            { "value": "eye", "label": "Eye" },
            { "value": "heart", "label": "Heart" },
            { "value": "iron", "label": "Iron" },
            { "value": "leaf", "label": "Leaf" },
            { "value": "leather", "label": "Leather" },
            { "value": "lock", "label": "Lock" },
            { "value": "map_pin", "label": "Map pin" },
            { "value": "pants", "label": "Pants" },
            { "value": "plane", "label": "Plane" },
            { "value": "price_tag", "label": "Price tag" },
            { "value": "question_mark", "label": "Question mark" },
            { "value": "return", "label": "Return" },
            { "value": "ruler", "label": "Ruler" },
            { "value": "shirt", "label": "Shirt" },
            { "value": "shoe", "label": "Shoe" },
            { "value": "silhouette", "label": "Silhouette" },
            { "value": "star", "label": "Star" },
            { "value": "truck", "label": "Truck" },
            { "value": "washing", "label": "Washing" }
          ],
          "default": "none",
          "label": "t:sections.comparison-table.blocks.text_row.column_icon",
          "info": "t:sections.comparison-table.blocks.text_row.column_icon_info",
          "visible_if": "{{ section.settings.number_of_columns >= 5 }}"
        },
        {
          "type": "image_picker",
          "id": "column_5_image",
          "label": "t:sections.comparison-table.blocks.text_row.column_image",
          "visible_if": "{{ section.settings.number_of_columns >= 5 }}",
          "info": "t:sections.comparison-table.blocks.text_row.column_image_info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.comparison-table.presets.name",
      "category": "t:sections.categories.products",
      "blocks": [
        {
          "type": "text_row",
          "settings": {
            "feature_name": "Vegan",
            "column_1_value": "Yes",
            "column_2_value": "Yes",
            "column_3_value": "No",
            "column_4_icon": "check_mark"
          }
        },
        {
          "type": "text_row",
          "settings": {
            "feature_name": "Recyclable Packaging",
            "column_1_value": "Yes",
            "column_2_value": "Yes",
            "column_3_value": "No",
            "column_4_icon": "check_mark"
          }
        },
        {
          "type": "text_row",
          "settings": {
            "feature_name": "Organic Ingredients",
            "column_1_value": "Yes",
            "column_2_value": "Yes",
            "column_3_value": "No",
            "column_4_icon": "check_mark"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
