{% liquid
  assign show_section = false

  if request.design_mode == true or section.blocks.size > 0
    assign show_section = true
  endif
%}
{% if show_section %}
  {{ 'section-multicol.css' | asset_url | stylesheet_tag }}
  {{ 'section-video.css' | asset_url | stylesheet_tag }}
  {{ 'section-shoppable-video.css' | asset_url | stylesheet_tag }}
  {{ 'swiper.css' | asset_url | stylesheet_tag }}

  {% assign background_rgb = section.settings.background_color | color_to_rgb %}
  {% assign text_rgb = section.settings['color-body-text'] | color_to_rgb %}

  <style>
    [data-section-id="{{ section.id }}"]
    {
      {% if section.settings.margin-top %}
          --section-gap-top: {{ section.settings.margin-top }}px;
      {% endif %}

      {% if section.settings.margin-bottom %}
          --section-gap-bottom: {{ section.settings.margin-bottom }}px;
      {% endif %}

      {% if background_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --color-background: {{ section.settings.background_color }};
      {% endif %}

      {% if text_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --color-custom-text: {{ section.settings.color-body-text }};
      {% endif %}

      {% if section.settings.enable_stack_products %}
        --grid-col-mobile:{{ section.settings.number_of_column_mobile | floor }};
        --grid-col:{{ section.settings.number_of_column_desktop | floor }};
        --grid-gap: {{ section.settings.spacing_desktop }}px;
      {% endif %}

      {% if section.settings.full-width-enabled %}
          --border-radius: 0;
      {% endif %}

      --grid-gap-mobile: {{ section.settings.spacing_mobile }}px;
    }

    [data-section-id="{{ section.id }}"] .hero__title {
      --font-headline-scale-desk: {{ section.settings.size_heading | divided_by: 100.0 }};
      --font-headline-scale: {{ section.settings.size_heading_mobile | divided_by: 100.0 }};
    }
  </style>

  {% if section.settings.image_ratio == 'portrait' %}
    {% assign customclass = 'hero hero--out hero--out-pic-portrait' %}
  {% elsif section.settings.image_ratio == 'square' %}
    {% assign customclass = 'hero hero--out hero--out-pic-square' %}
  {% else %}
    {% assign customclass = 'hero hero--out' %}
  {% endif %}

  <div
    class="wt-slider {% if settings.animations and section.settings['full-width-enabled'] != true %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}"
    data-section-id="{{ section.id }}"
  >
    {% if section.settings.advanced_heading %}
      {% if section.settings.heading_richtext != blank %}
        <div class="headline headline--rich {% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}">
          {{ section.settings.heading_richtext }}
        </div>
      {% endif %}
    {% else %}
      {% if section.settings.heading != blank %}
        {% render 'headline', title: section.settings.heading %}
      {% endif %}
    {% endif %}

    <script type="module" src="{{ 'slider2.js' | asset_url }}" defer="defer"></script>
    <slideshow-section
      class="
        wt-slider
        {% if section.settings['full-width-enabled'] %} wt-slider--full {% endif %}
        {% if section.settings.title == blank %} no-heading {% endif %}
      "
      id="{{ section.id }}"
      data-slides-group
    >
      <div
        data-swiper
        class="
          wt-slider__container--featured
          {% if section.blocks.size > 10 %} wt-multicol-slider--many-blocks{% endif %}
          {% if section.settings['full-width-enabled'] %} wt-slider__container--full  {% endif %}
          {% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}
        "
      >
        <div
          data-swiper-container
          {% if section.settings.enable_stack_products %}
            class="wt-slider__wrapper--stack {% if section.settings.number_of_column_desktop == 2%} wt-slider__wrapper--stack-2-col {% endif %}"
          {% endif %}
        >
          {%- for block in section.blocks -%}
            <div
              data-swiper-slide
              data-block-id="{{ block.id }}"
              class="wt-multicol-slider__item {{section.settings.column_alignment }}"
              {{ block.shopify_attributes }}
            >
              {% assign placeholder_index = forloop.index | minus: 1 | modulo: 4 | plus: 1 %}
              {% assign placeholder = 'product-apparel-' | append: placeholder_index %}

              {% render 'hero',
                type: 'single',
                classname: customclass,
                desktop_image: block.settings.desktop_image,
                mobile_image: block.settings.mobile_image,
                video: block.settings.video_hosted,
                mobile_video: block.settings.video_hosted_mobile,
                heading: block.settings.heading,
                text: block.settings.text,
                button_label: block.settings.button_label,
                button_link: block.settings.button_link,
                button_disable_on_mobile: block.settings.button_disable_on_mobile,
                button_link_in_new_window: block.settings.button_link_in_new_window,
                button_select: block.settings.button_select,
                heading_disable_on_mobile: block.settings.heading_disable_on_mobile,
                text_disable_on_mobile: block.settings.text_disable_on_mobile,
                placeholder: placeholder,
                link_image: true,
                is_multicolumn_section: true,
                video_controls: section.settings.video_controls,
                video_custom_play_controls: section.settings.video_custom_play_controls,
                video_custom_mute_controls: section.settings.video_custom_mute_controls
              %}
            </div>
          {%- endfor -%}
        </div>
        {% unless section.settings.enable_stack_products %}
          <div class="swiper-button-next wt-slider__nav-btn wt-slider__nav-next wt-slider__nav-next--featured">
            {% render 'icons', id: 'arrow-right' %}
          </div>
          <div class="swiper-button-prev wt-slider__nav-btn wt-slider__nav-prev wt-slider__nav-prev--featured">
            {% render 'icons', id: 'arrow-left' %}
          </div>
          <div class="swiper-pagination wt-slider__pagination"></div>
        {% endunless %}
      </div>
      <script data-swiper-configuration type="text/json">
          {
            "enabled": {% unless section.settings.enable_stack_products %}true{% else %}false{% endunless %},
            "slidesPerView": "auto",
            "freeMode": false,
            "centeredSlides": false,
            "centeredSlidesBounds": true,
            "slideToClickedSlide": false,
            "watchSlidesProgress": true,
            "speed": 150,
            "grabCursor": false,
          {% if section.settings.enable_stack_products %}
            "navigation": false,
            "scrollbar": false,
          {% else %}
            "breakpoints": {
              "320": {
                "slidesPerView": {% if section.settings.full-width-enabled %}1{% else %}1.1{% endif %},
                "slidesPerGroup": 1,
                "spaceBetween": {% if section.settings.full-width-enabled %}0{% else %}{{ section.settings.spacing_mobile  }}{% endif %}
              },
              "900": {
                "slidesPerView": {{ section.settings.number_of_column_desktop }},
                "slidesPerGroup": {{ section.settings.number_of_column_desktop | floor }},
                "spaceBetween": {% if section.settings.full-width-enabled %}0{% else %}{{ section.settings.spacing_desktop }}{% endif %}
              }
            },
            "navigation": {
              "nextEl": ".wt-slider__nav-next--featured",
              "prevEl": ".wt-slider__nav-prev--featured"
            },
          {% endif %}
            "paginationType": "bullets"
        }
      </script>
    </slideshow-section>
  </div>
{% endif %}
{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "wt-multicol-slider",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "advanced_heading",
      "label": "t:sections.global.advanced_heading.label",
      "info": "t:sections.global.advanced_heading.info"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "t:sections.settings.settings.heading.label",
      "default": "Multicolumn",
      "visible_if": "{{ section.settings.advanced_heading == false }}"
    },
    {
      "type": "richtext",
      "id": "heading_richtext",
      "label": "t:sections.logo-banner.settings.content.headline.label",
      "default": "<h2>Multicolumn</h2>",
      "visible_if": "{{ section.settings.advanced_heading }}"
    },
    {
      "type": "checkbox",
      "id": "enable_stack_products",
      "default": false,
      "label": "t:sections.multicolumn.settings.enable_stack_columns.label"
    },
    {
      "type": "checkbox",
      "id": "full-width-enabled",
      "label": "t:sections.settings.settings.section-full-width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "video_controls",
      "label": "t:sections.background-video.settings.video_controls.label",
      "info": "t:sections.background-video.settings.video_controls.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "video_custom_play_controls",
      "label": "t:sections.background-video.settings.video_custom_play_controls.label",
      "visible_if": "{{ section.settings.video_controls == false }}",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "video_custom_mute_controls",
      "label": "t:sections.background-video.settings.video_custom_mute_controls.label",
      "visible_if": "{{ section.settings.video_controls == false }}",
      "default": false
    },

    {
      "type": "header",
      "content": "t:sections.global.desktop_version"
    },
    {
      "type": "range",
      "id": "number_of_column_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.multicolumn.settings.number_of_column_desktop.label"
    },
    {
      "type": "select",
      "id": "spacing_desktop",
      "options": [
        {
          "value": "8",
          "label": "t:sections.main-collection-product-grid.settings.spacing_desktop.1.label"
        },
        {
          "value": "16",
          "label": "t:sections.main-collection-product-grid.settings.spacing_desktop.2.label"
        },
        {
          "value": "24",
          "label": "t:sections.main-collection-product-grid.settings.spacing_desktop.3.label"
        }
      ],
      "default": "16",
      "label": "t:sections.multicolumn.settings.spacing_desktop.label",
      "visible_if": "{{ section.settings['full-width-enabled'] == false }}"
    },
    {
      "type": "header",
      "content": "t:sections.global.mobile_version",
      "visible_if": "{{ section.settings.enable_stack_products == true or section.settings['full-width-enabled'] == false }}"
    },
    {
      "id": "number_of_column_mobile",
      "type": "select",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.number_of_column_mobile.label",
      "visible_if": "{{ section.settings['enable_stack_products'] == true }}"
    },
    {
      "type": "select",
      "id": "spacing_mobile",
      "options": [
        {
          "value": "4",
          "label": "4px"
        },
        {
          "value": "8",
          "label": "8px"
        },
        {
          "value": "12",
          "label": "12px"
        },
        {
          "value": "16",
          "label": "16px"
        }
      ],
      "default": "16",
      "label": "t:sections.multicolumn.settings.spacing_mobile.label",
      "visible_if": "{{ section.settings['full-width-enabled'] == false }}"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.columns.header"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "range",
      "id": "size_heading",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 100,
      "label": "t:sections.settings.settings.size-heading.label",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "size_heading_mobile",
      "min": 80,
      "max": 300,
      "step": 10,
      "default": 100,
      "label": "t:sections.settings.settings.size-heading-mobile.label",
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:sections.global.colors",
      "info": "t:sections.global.colors-info"
    },
    {
      "type": "color",
      "id": "color-body-text",
      "default": "transparent",
      "label": "t:sections.settings.settings.text-color.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "transparent",
      "label": "t:sections.settings.settings.background-color.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.section_spacing"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "t:sections.settings.settings.distance-top.label"
    },
    {
      "type": "range",
      "id": "margin-bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "t:sections.settings.settings.distance-bottom.label",
      "info": "t:sections.settings.settings.distance-bottom.info"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "limit": 24,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Column",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "heading_disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.settings.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "text_disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.image-banner.button.name"
        },
        {
          "type": "select",
          "id": "button_select",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.settings.settings.button_select.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.settings.settings.button_select.secondary.label"
            },
            {
              "value": "link",
              "label": "t:sections.settings.settings.button_select.link.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.settings.settings.button_select.default.label"
        },
        {
          "id": "button_label",
          "type": "text",
          "default": "Button label",
          "label": "t:sections.settings.settings.button_label.label"
        },
        {
          "type": "checkbox",
          "id": "button_disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.settings.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_link_in_new_window",
          "label": "t:sections.global.button_link_in_new_window",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.global.desktop_version"
        },
        {
          "type": "video",
          "id": "video_hosted",
          "label": "t:sections.logo-banner.settings.video-hosted.label"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "t:sections.settings.settings.image.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.mobile_version"
        },
        {
          "type": "video",
          "id": "video_hosted_mobile",
          "label": "t:sections.logo-banner.settings.video-hosted.label"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:sections.settings.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "category": "t:sections.categories.storytelling",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
